<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>A List of Things To Do</h1>

    <form action="/items" method="POST">
        <input type="text" placeholder="add to list" name="item">
        <input type="submit">
    </form>
    
    <container class="todoList">
        <h2>To Do!</h2>
        <ul>
            <% for(let i=0; i < info.length; i++) {%>
                <li class="itemList">
                    <span><input class="check" type="checkbox" <%= info[i].done ? "checked" : "" %>></span>
                    <span class="itemName"><%= info[i].item %></span>
                    <button class="editItem">edit</button>
                    <input type="text" class="updateItemText hidden">
                    <button class="updateItem hidden">Update</button>
                    <button class="deleteItem">delete</button>
                    <span class='hidden'><%= info[i]._id %></span>
                </li>
            <% } %>
        </ul>
    </container>   
</body>
<script src="js/main.js"></script>
</html>